@charset "UTF-8";

body {
	font-family: 'Noto Sans KR', sans-serif;
}
.header {
	height: 50px;
	display: flex;
}

.hr {
	border: 0;
	border-top: 1px solid #c9c7c7;
	width: 100%
}

.logo {
	width: 117px;
	height: 35px;
	margin-top: 10px;
	margin-left: 10px;
}

.search {
	width: 20px;
	height: 20px;
	margin-top: 15px;
	margin-left: 23px;
}

.icon {
	margin-left: 1650px;
	display: flex;
}