@charset "UTF-8";


/* qna 리스트 */
.list-basic {border-top:2px solid #121212}
.list-item {display:flex; padding:17px 0px;border-bottom:1px solid #eee;box-sizing:border-box;}
.list-item:last-child {border-color:#ddd;}
.list-item > .col + .col {margin-top:7px;}
.list-item.fixed {background-color:#f7f7f7}
.list-item.fixed .notice-tit {font-weight:700}
.list-item .col.tit a {display:block; display:-webkit-box; max-height:48px; line-height:24px; font-size:17px; text-overflow:ellipsis; word-break:keep-all; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden}
.list-item .txt-num {color:#888; font-size:13px}

body {
	margin: 0;
	font-family: "Noto Sans Light", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}

 /* 1:1문의 */
    .list-item.list-top {display:flex; }
    .list-item.list-top .col {font-weight:700;color:#121212;font-size:15px;}
    .list-item .col {/* flex:0 0 auto; */}
    .list-item .col.date, .list-item .col.state {text-align:center;}
    .list-item .col.category, .list-item .col.tit {text-align:left;}
    .list-item .col.date {/* width:70px; */}
    .list-item .col.category {width:220px;}
    .list-item .col.tit {width:51%;}
    .list-item .col.state {width:85px}
    .list-item .qna-info {align-items:center}

/* 서브페이지 */
.sub .contents > .layout-inner {padding:0 15px 30px;box-sizing:border-box;}
.sub .cont-tit {display:block; margin-bottom:20px;}

.sub .search-area {padding:20px 15px}
.sub .qna-area {padding:20px 10px; border-radius:10px; text-align:center; background-color:#f7f7f7}
.sub .qna-area .btn-area {margin-top:10px}
.sub .qna-area {margin-top:30px}

.result-top {margin-bottom:20px; font-size:15px}
.result-top .keyword {display:inline-block}
.result-top .keyword, .result-item .keyword, .no-result .keyword {font-weight:700; color:#436F91}
.result-list li {padding:15px 0; border-bottom:1px solid #ddd; line-height:1.3; box-sizing:border-box}
.result-list .tit {font-size:17px}
.result-list .date {display:block; margin-top:7px; color:#888; font-size:13px; letter-spacing:0}
.result-list .result-cate {margin-right:3px}
.result-item + .result-item {margin-top:25px}
.sort-box + .sort-box {margin-top:30px}
.sort-box .sort-tit {display:block; margin:15px 0 5px; font-weight:700; font-size:19px}
.no-result {padding:20px 0 50px; font-weight:500; font-size:19px; text-align:center}
.result-top .txt-num {font-weight:700}


.cont-top-area {
        overflow-x: auto;
    }




